# Introduction

In this assessment, you will complete several requested SQL queries in order to extact data and insights from a single provided SQL database. You will also visualize the key results of 3 of these queries.

## Objectives
You will be able to:
- Interpret "word problems" and translate them into SQL queries
- Decide and perform whichever type of JOIN is best for retrieving desired data
- Use GROUP BY statements in SQL to apply aggregate functions like COUNT, MAX, MIN, and SUM
- Use the HAVING clause to compare different aggregates
- Write subqueries to decompose complex queries
- Visualize data using matplotlib, seaborn, and pandas
- Choose the correct chart type based on the given data

### Your Task: Querying a Customer Database

![toy car picture](images/toycars.jpg)

### Business Understanding
Your employer makes miniature models of products such as classic cars, motorcycles, and planes. They want you to pull several reports on different segments of their past customers, in order to better understand past sales as well as determine which customers will receive promotional material. 

As well as providing the requested data from the SQL database you have also been asked to create some basic visuals to display some of the more insightful information. It is up to your discretion to choose the correct plot/chart type for the data in question. Questions that want you to visualize the results will be explicitly marked.

### Data Understanding
You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database:

![ERD picture](images/ERD.png)

The queries you are asked to write will become more complex over the course of the lab.

### Getting Started
As in previous labs, you'll make use of the sqlite3 library as well as pandas. By combining them, you'll be able to write queries as Python strings, then display the results in a conveniently-formatted dataframe.

Note: Throughout this lesson, for any query the only thing you will need to change is the content of the strings containing the SQL queries. You do NOT need to modify any of the code relating to pandas; this is just to help make the output more readable.

In the cell below, we:
- Import the necessary libraries, pandas and sqlite3
- Establish a connection to the database data.sqlite, called conn

In [ ]:
# Run this cell without changes
# Imports
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Create connection to database
conn = sqlite3.Connection("data.sqlite")

The basic structure of a query in this assessment is:
- Write the SQL query inside of the Python string
- pd.read_sql is used to produce the resulting information in a pandas dataframe

For example, if we wanted to select a list of all product lines from the company, that would look like this:

In [ ]:
# Run this cell without changes
q0 = """
SELECT productline
FROM productlines
;
"""

q0_result = pd.read_sql(q0, conn)
q0_result

From now on, you will replace None within these Python strings with the actual SQL query code.

### Part 1: Basic Queries
First, let's review some basic SQL queries, which do not require any joining, aggregation, or subqueries.

#### Query 1: Customers with Credit Over 25,000 in California
Write a query that returns the contact first name, contact last name, phone number, address line 1, and credit limit for all customers in California with a credit limit greater than 25000$.

(California means that the state value is 'CA')

#### Expected Output:
![q1](images/q1.png)

In [ ]:
# Replace None with your code
q1 = """
None
"""

# Query to dataframe
q1_result = pd.read_sql(q1, conn)
q1_result

#### Query 2: Customers Outside of the USA with "Collect" in Their Name

Write a query that gets the customer name, state, and country, for all customers outside of the USA with "Collect" as part of their customer name.

We are looking for customers with names like "Australian Collectors, Co." or "BG&E Collectables", where country is not "USA".

#### Expected Output:

![q2](images/q2.png)

In [ ]:
# Replace None with your code
q2 = """
None
"""

# Query to dataframe
q2_result = pd.read_sql(q2, conn)
q2_result

#### Query 3: Customers without Null States
Write a query that gets the full address (line 1, line 2, city, state, postal code, country) for all customers where the state field is not null.

Here we'll only display the first 10 results for truncation purposes.

#### Expected Output:

![q3](images/q3.png)

In [ ]:
# Replace None with your code
q3 = """
None
"""

# Query to dataframe
q3_result = pd.read_sql(q3, conn)
q3_result.head(10)

### Part 2: Aggregate and Join Queries
#### Query 4: Average Credit Limit by State in USA - Visual Required
Write a query that gets the average credit limit per state in the USA.

The two fields selected should be state and average_credit_limit, which is the average of the creditLimit field for that state.

Once you have the information returned in a dataframe select an appropriate visualization to represent this data. You are welcome to utilize matplotlib, seaborn, or pandas plotting to produce your visual. Ensure that it has a verbose title and axis labels!

#### Expected Output:
![q4](images/q4.png)

In [ ]:
# Replace None with your code
q4 = """
None
"""

# Query to dataframe
q4_result = pd.read_sql(q4, conn)
q4_result

In [ ]:
# Replace None with your visual code
# Produce a visual to represent the average credit limit by state
None

#### Query 5: Joining Customers and Orders
Write a query that uses JOIN statements to get the customer name, order number, and status for all orders. For this example, stick to a simple join and avoid using sub-queries.
 
Refer to the ERD above to understand which tables contain these pieces of information, and the relationship between these tables.

Here we'll only display the first 15 results for truncation purposes.

#### Expected Output:
![q5](images/q5.png)

In [ ]:
# Replace None with your code
q5 = """
None
"""

# Query to dataframe
q5_result = pd.read_sql(q5, conn)
q5_result.head(15)

#### Query 6: Total Payments - Visual Required
Write a query that uses JOIN statements to get top 10 customers in terms of total payment amount. Return the customer name, customer number, and sum of all payments made. The results should be ordered by the sum of payments made, starting from the highest value.

The three columns selected should be customerName, customerNumber and total_payment_amount.

Once you have the information returned in a dataframe select an appropriate visualization to represent this data. You are welcome to utilize matplotlib, seaborn, or pandas plotting to produce your visual. Ensure that it has a verbose title and axis labels!

#### Expected Output:

![q6](images/q6.png)

In [ ]:
# Replace None with your code
q6 = """
None
"""

# Query to dataframe
q6_result = pd.read_sql(q6, conn)
q6_result

In [ ]:
# Replace None with your visual code
# Produce a visual to represent the top ten customers in terms of total payments
None

#### Query 7: Products that Have Been Purchased 10 or More Times
Write a query that, for each customer, finds all of the products that they have purchased 10 or more times cumulatively. For each record, return the customer name, customer number, product name, product code, and total number ordered. Sort the rows in ascending order by the quantity ordered.

The five columns selected should be customerName, customerNumber, productName, productCode, and total_ordered, where total_ordered is the sum of all quantities of that product ordered by that customer.

Once you have the information returned in a dataframe select an appropriate visualization to represent this data. You are welcome to utilize matplotlib, seaborn, or pandas plotting to produce your visual. Ensure that it has a verbose title and axis labels!

Hint: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY â€” make sure you get the order of them correct!

#### Expected Output:

![q7](images/q7.png)

In [ ]:
# Replace None with you code
q7 = """
None
"""


# Query to dataframe
q7_result = pd.read_sql(q7, conn)
q7_result

#### Query 8: Number of Products and Total Quantity Ordered for each Product Line - Visual Required

Write a query that returns the total quantity of units ordered, aliased as total_ordered, and the number of distinct products, aliased as number_of_products, for each productLine in the dataset.

Once you have the information returned in a dataframe select an appropriate visualization to represent this data. You are welcome to utilize matplotlib, seaborn, or pandas plotting to produce your visual. Ensure that it has a verbose title and axis labels!

Hint: Think about how you can and might have to utilize SQL DISTINCT statement

#### Expected Output:

![q8](images/q8.png)

In [ ]:
# Replace None with your code
q8 = """
None
"""

# Query to dataframe
q8_result = pd.read_sql(q8, conn)
q8_result

In [ ]:
# Replace None with your visual code
# Produce a visual to represent the the relation between number of products and the total amount ordered
None

#### Query 9: Employees in Offices with Fewer than Five Employees
Finally, get the last name, first name, employee number, and office code for employees from offices with fewer than 5 employees.

Hint: Use a subquery to find the relevant offices.

#### Expected Output:

![q8](images/q9.png)

In [ ]:
# Replace None with your code
q9 = """
None
"""

# Query to dataframe
q9_result = pd.read_sql(q8, conn)
q9_result

#### Summary
In this assessment, you produced several data queries and visualizations for a model company, mainly focused around its customer data. 

Along the way, you utilized many of the major concepts and keywords associated with SQL SELECT queries: FROM, WHERE, GROUP BY, HAVING, ORDER BY, JOIN, SUM, COUNT, and AVG.